.background {
  background-image: url('https://dm0qx8t0i9gc9.cloudfront.net/watermarks/image/rDtN98Qoishumwih/graphicstock-light-soft-white-marble-texture_Bug1tLYKag_SB_PM.jpg');
  background-size: cover;
  background-position: center;
  min-height: 100vh;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  position: relative;
}

.brandname-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.home-window,
.login-window,
.register-window {
  background-color: rgba(255, 255, 255, 0.9);
  padding: 32px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  text-align: center;
}

.title {
  text-align: center;
}

.input-group {
  display: flex;
  justify-content: center;
  margin-bottom: 16px;
}

.buttons {
  display: flex;
  justify-content: center;
  margin-top: 24px;
}


.mat-toolbar {
  background-color: #1976d2;
}

.brandname {
  font-size: 1.5rem;
  font-weight: bold;
  color: white;
}
