.container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 50px;
}

.idea-card {
  width: 900px;
  height: 900px;
  overflow-y: auto;
  margin: 25px;
}

.idea-create-card {
  width: 300px;
  height: 600px;
  overflow-y: auto;
  margin: 50px;
}

.card-title {
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 15px;
}

.card-content {
  padding: 20px;
  text-align: center;
}

.table {
  width: 100%;
  border-collapse: collapse;
}

.table th,
.table td {
  padding: 12px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
}

.logout-button {
  width: 25%;
  display: block;
  margin: 0 auto;
}
