
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  position: relative;
}

.home-window {
  background-color: rgba(255, 255, 255, 0.9);
  padding: 32px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.subtext {
  display: flex;
  justify-content: center;
  margin-top: 16px;
}

.buttons {
  display: flex;
  justify-content: center;
  margin-top: 24px;
}
